<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<form action="/products/add" method="post" enctype="multipart/form-data">
    <input name="title" placeholder="title">
    <input name="description" placeholder="description">
    <input name="price" type="number" placeholder="price">
    <input name="imageFile" type="file">
    <button type="submit">Add Product</button>
</form>

</body>
</html>