<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Profile</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container card" style="max-width:420px">
  <h2>Edit Profile</h2>
  <form th:action="@{/profile/update}" method="post">
    <input name="name" th:value="${user.name}" required>
    <input name="email" th:value="${user.email}" required>
    <input name="phone" th:value="${user.phone}" required>
    <input type="password" name="password" placeholder="New password">
    <button>Save Changes</button>
  </form>
</div>
</body>
</html>